body {
    width: 1920px;
    height: 1080px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.top-tittle {
    float: left;
    width: 768px;
    height: 80px;
    margin: 10px 576px 10px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.content {
    float: left;
    height: 955px;
    width: 1920px;
}

.about {
    float: left;
    width: 768px;
    height: 25px;
    margin: 0 576px;
    text-align: center;
}